@use "src/Styles/variables.scss" as var;

.presentation {
  padding: var.$gap-large var.$gap-xlarge;

  &__container__title {
    text-align: start;
    h1 {
      font-size: 10rem;
      color: var.$blanc;
    }

    & h1:first-child {
      color: var.$rouge;
    }
  }

  &__container__text {
    margin: var.$gap-medium auto;
    & p {
      border-radius: 0.5rem;
      color: var.$blanc;
      padding: var.$gap-small 10rem;
      font-size: 1.2rem;
      text-align: start;
    }
  }
}
