@use "src/Styles/variables.scss" as var;

.presentation {
  background-color: rgb(97, 234, 131);
  padding: var.$gap-large var.$gap-xlarge;
  &__clipPath {
    background-color: rgb(97, 234, 131);
    height: 100px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    width: 100%;
  }

  &__container__title {
    text-align: start;
    h1 {
      font-size: 10rem;
    }
  }

  &__container__text {
    margin: var.$gap-medium auto;
    & p {
      color: var.$rouge;
      background-color: var.$blanc;
      padding: var.$gap-small 10rem;
      font-size: 1.2rem;
      text-align: start;
    }
  }
}
