@use "/styles/_variables.scss" as var;

.ctaBtn {
  border: 1px solid var.$rouge;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  background-color: var.$noir;
  font-weight: 700;
  font-size: 15px;
  color: var.$blanc;
  border-radius: var.$radius;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.ctaBtn span {
  position: relative;
  z-index: 1;
}

.ctaBtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: var.$rouge;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.ctaBtn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
