@use "src/Styles/variables.scss" as var;

#App {
  background-color: var.$background-dark;
  font-family: font-regular;
}

h2 {
  font-size: 1.8rem;
  color: var.$blanc;
  text-align: center;
  border-bottom: 0.1rem solid var.$noir;
  padding: var.$gap-small 0;
  font-weight: bold;
}

input,
textarea {
  min-width: 20rem;
  padding: 0.2rem;

  &::placeholder {
    font-family: font-regular;
    color: var.$noir;
  }
}

@media screen and (max-width: 700px) {
  input,
  textarea {
    min-width: 15rem;
  }
}

input[type="submit"] {
  background-color: var.$noir;
  border: none;
  border-radius: var.$gap-small;
  color: var.$blanc;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;

  &:hover {
    background-color: var.$blanc;
    color: var.$noir;
    cursor: pointer;
  }
}

.divider--vertical {
  height: auto;
  width: 0.1rem;
  background-color: var.$noir;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var.$noir;
    border-radius: 50%;
    position: absolute;
    left: -0.2rem;
  }

  &::after {
    bottom: 0;
  }
}

.visible {
  animation: fadeIn 0.8s ease-in-out both;
}

@keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
}
