@use "src/Styles/variables.scss" as var;

.presentation {
  padding: 6rem 5rem 2rem;

  &__container__title {
    text-align: start;

    & > img {
      width: 40%;
    }
    h1 {
      font-size: 10rem;
      color: var.$blanc;
    }

    & h1:first-child {
      color: var.$rouge;
    }
  }

  &__container__text {
    margin: var.$gap-medium auto;
    & p {
      border-radius: 0.5rem;
      color: var.$blanc;
      padding: var.$gap-small 10rem;
      font-size: 1.2rem;
      text-align: start;
    }
  }
}

@media screen and (max-width: 900px) {
  .presentation {
    padding: 8rem 1rem 2rem;

    &__container__text {
      & p {
        padding: calc(var.$gap-small/2);
      }
    }
  }
}
