@use "src/Styles/variables.scss" as var;

.contact {
  background-color: var.$background-dark;
  color: var.$blanc;
  padding: var.$gap-medium;
  position: relative;
  animation: hideAnimation 0.8s ease-in-out;

  &__formContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    div {
      display: flex;
      justify-content: space-between;
      margin: 0 auto var.$gap-medium;
    }
  }
  form {
    padding: var.$gap-small;

    & label {
      margin-right: 1rem;
    }
  }
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
