@use "styles/_variables.scss" as var;

.feature {
  display: flex;
  padding: var.$gap-xlarge var.$gap-medium;
  align-items: center;
  .description {
    width: 60%;
    padding: var.$gap-small var.$gap-medium;

    strong {
      font-weight: 700;
    }

    span {
      color: var.$rouge;
    }
  }
  .imageWrapper {
    position: relative;
    height: 20rem;
    width: 40%;
    border-radius: var.$radius;
    overflow: hidden;
  }
}

.isInverted {
  flex-direction: row-reverse;
}
