@use "src/Styles/variables.scss" as var;

.description {
  background-color: var.$background-dark;
  color: var.$blanc;
  padding: var.$gap-small;

  &__services__items {
    display: flex;
    justify-content: center;

    &__item {
      padding: var.$gap-medium;
      max-width: 15rem;

      & h3 {
        margin-bottom: var.$gap-small;
      }
    }
  }
}
