@use "src/Styles/variables.scss" as var;

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(34, 33, 33, 0.9)),
    url("../../assets/images/1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & nav {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(var.$noir, $alpha: 0.6);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
  }
  & nav.scrolled {
    background-color: rgba(var.$noir, $alpha: 1);
  }

  & ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    & a {
      text-decoration: none;
      color: var.$blanc;
      font-size: 1.2rem;
      transition: all 0.2s ease-in-out;
      margin: 0 var.$gap-xlarge;
      padding: 0.2rem 0.5rem;
      background-color: transparent;
      border: none;

      &.actif::after {
        content: "";
        display: block;
        height: 0.15rem;
        background-color: var.$rouge;
        margin-top: 0.2rem;
        border-radius: 0.2rem;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: var.$rouge;
      }
    }
  }

  .presentation {
    padding: var.$gap-xlarge var.$gap-medium var.$gap-small;

    &__container__title {
      text-align: start;
      h1 {
        font-size: 10rem;
      }
    }

    &__container__text {
      margin: var.$gap-medium auto;
      & p {
        border-radius: 0.5rem;
        color: var.$blanc;
        padding: var.$gap-small 10rem;
        font-size: 1.2rem;
        text-align: start;
      }
    }
  }
}
