@use "src/Styles/variables.scss" as var;

.footer {
  background-color: var.$background-footer;
  color: var.$blanc;
  padding: var.$gap-medium;
  display: flex;
  animation: hideAnimation 0.8s ease-in-out both;

  &__container__left {
    width: 30%;
    & img {
      width: 50%;
    }
  }

  &__container__right {
    width: 70%;
    display: flex;
    justify-content: space-around;

    p {
      padding: 0.5rem;
    }

    .divider--vertical {
      background-color: var.$rouge;

      &::before,
      &::after {
        background-color: var.$rouge;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    &__container__right {
      margin: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;

    &__container__left {
      width: 80%;
      margin-bottom: var.$gap-small;
      & img {
        width: 50%;
      }
    }

    &__container__right {
      width: 100%;
      margin: auto;
    }
  }
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
