@use "src/Styles/variables.scss" as var;

.footer {
  background-color: var.$background-dark-medium;
  color: var.$blanc;
  padding: var.$gap-medium;
  display: flex;

  &__container__left {
    width: 30%;
    & img {
      width: 50%;
    }
  }

  &__container__right {
    width: 70%;
    display: flex;
    justify-content: space-around;

    p {
      padding: 0.5rem;
    }
  }
}
