@use "src/Styles/variables.scss" as var;

.footer {
  background-color: var.$background-dark-medium;
  color: var.$blanc;
  padding: var.$gap-medium;

  &__container {
    display: flex;
    justify-content: space-around;

    p {
      padding: 0.5rem;
    }
  }
}
