@use "src/Styles/variables.scss" as var;

#avisClient {
  background-color: var.$blanc;
  padding: var.$gap-small 0;
}

#avisClientList {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  .avis__text {
    font-style: italic;
  }
}
