@use "src/Styles/variables.scss" as var;

#carousel {
  width: 70%;
  margin: 0 auto;
  padding-bottom: var.$gap-medium;
  min-height: 15rem;
  text-align: center;
  position: relative;

  .carousel__container {
    height: 30rem;
    width: 70%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
  }

  .container__pagination {
    display: flex;
    justify-content: center;
    margin-top: var.$gap-small;
    &__item {
      height: 1rem;
      width: 1rem;
      background-color: rgb(175, 170, 170);
      border-radius: var.$gap-small;
      margin: 0 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &.actif {
        background-color: #ec272c;
      }
    }
  }

  .buttonDiapo {
    position: absolute;
    padding: var.$gap-small;
    border-radius: var.$gap-small;
    color: var.$noir;
    background-color: var.$background;
    top: 45%;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
      background-color: var.$noir;
      color: var.$blanc;
    }

    &--left {
      left: 5%;
    }
    &--right {
      right: 5%;
    }
  }
}
@media screen and (max-width: 700px) {
  #carousel {
    width: 100%;

    .carousel__container {
      height: 25rem;
      width: 100%;
    }
    .buttonDiapo {
      padding: calc(var.$gap-small/2);
    }
  }
}
