@use "styles/_variables.scss" as var;

.headerFeature {
  padding: var.$gap-medium;

  &__description {
    padding: var.$gap-small var.$gap-large;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      padding: var.$gap-small;
    }
    @media screen and (max-width: var.$screen-tablet-portrait) {
      padding: var.$gap-small 0;
    }

    strong {
      font-weight: 700;
    }

    span {
      color: var.$rouge;
    }

    li {
      margin-bottom: var.$gap-small;
    }
  }
}
