@use "/styles/_variables.scss" as var;

:root {
  font-family: font-regular, Courier, monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var.$blanc;
  background-image: linear-gradient(45deg, #141313, #080809);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  font-family: font-bold, Arial, Helvetica, sans-serif;
  color: var.$blanc;
  position: relative;
  padding-left: 1rem;
  margin: var.$gap-small;
  letter-spacing: 0.5rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background-color: var.$rouge;
    border-top-left-radius: var.$radius;
  }

  @media screen and (max-width: var.$screen-phone) {
    margin: var.$gap-small 0;
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-family: font-bold, Arial, Helvetica, sans-serif;
  position: relative;
  padding-left: 1rem;
  margin: var.$gap-small var.$gap-small var.$gap-small var.$gap-xlarge;
  display: inline-block;
  letter-spacing: 0.2rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.3rem;
    height: 100%;
    background-color: var.$rouge;
    border-top-left-radius: var.$radius;
  }
  @media screen and (max-width: var.$screen-tablet-portrait) {
    margin: var.$gap-small var.$gap-medium;
  }
  @media screen and (max-width: var.$screen-phone) {
    font-size: 1.5rem;
    margin: var.$gap-small var.$gap-medium;
  }
}

h3 {
  font-size: 1.5rem;
  font-family: font-bold, Arial, Helvetica, sans-serif;
  position: relative;
  padding-left: 1rem;
  margin: var.$gap-small;
  display: inline-block;
  letter-spacing: 0.2rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.3rem;
    height: 100%;
    background-color: var.$rouge;
    border-top-left-radius: var.$radius;
  }

  @media screen and (max-width: var.$screen-phone) {
    font-size: 1.2rem;
    margin: var.$gap-small 0;
  }
}

p {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;

  @media screen and (max-width: var.$screen-phone) {
    font-size: 1rem;
  }
}

.fontColorRed {
  color: var.$rouge;
}

.fontBold {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

//? ==== NAVBAR PRIME REACT ==== \\
.p-menubar {
  justify-content: space-around;
  background: rgba(var.$noir, $alpha: 0.95) !important;
  border: none !important;
  border-radius: 0 !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link,
.p-menubar .p-submenu-list,
.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  background: rgba(var.$noir, $alpha: 0.9) !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover,
.p-menubar .p-menubar-button:hover {
  background: none !important;
}

.p-menuitem:focus-visible {
  border: none !important;
}
.p-menuitem-link > span {
  color: var.$blanc !important;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var.$rouge !important;
  }
}

//Sub menu
.p-menubar .p-menuitem-link:not(.p-disabled):hover {
  background: none !important;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var.$rouge !important;
  }
}

.p-menubar .p-menubar-button:focus {
  box-shadow: 0 0 0 0.2rem var.$rouge !important;
}

.p-menubar .p-menubar-button {
  color: var.$blanc !important;
}
