@use "/styles/_variables.scss" as var;

.container__text {
  margin: var.$gap-medium auto;
  & p {
    border-radius: 0.5rem;
    color: var.$blanc;
    padding: var.$gap-small 10rem;
    font-size: 1.2rem;
    text-align: start;
    line-height: 1.5rem;
  }
}
